In [0]:
import pandas as ps

In [0]:
df=ps.read_csv("http://13.234.66.67/summer19/datasets/social.csv")

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB

In [46]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
5    15728773    Male   27            58000          0
6    15598044  Female   27            84000          0
7    15694829  Female   32           150000          1
8    15600575    Male   25            33000          0
9    15727311  Female   35            65000          0
10   15570769  Female   26            80000          0
11   15606274  Female   26            52000          0
12   15746139    Male   20            86000          0
13   15704987    Male   32            18000          0
14   15628972    Male   18            82000          0
15   15697686    Male   29            80000          0
16   15733883    Male   47            25000          1
17   15617482    Male   45            26000          1
18   15704583    Male   46            28000          1
19   15621083  Female   48            29000          1
20   15649487    Male   45            22000          1
21   15736760  Female   47            49000          1
22   15714658    Male   48            41000          1
23   15599081  Female   45            22000          1
24   15705113    Male   46            23000          1
25   15631159    Male   47            20000          1
26   15792818    Male   49            28000          1
27   15633531  Female   47            30000          1
28   15744529    Male   29            43000          0
29   15669656    Male   31            18000          0
..        ...     ...  ...              ...        ...
370  15611430  Female   60            46000          1
371  15774744    Male   60            83000          1
372  15629885  Female   39            73000          0
373  15708791    Male   59           130000          1
374  15793890  Female   37            80000          0
375  15646091  Female   46            32000          1
376  15596984  Female   46            74000          0
377  15800215  Female   42            53000          0
378  15577806    Male   41            87000          1
379  15749381  Female   58            23000          1
380  15683758    Male   42            64000          0
381  15670615    Male   48            33000          1
382  15715622  Female   44           139000          1
383  15707634    Male   49            28000          1
384  15806901  Female   57            33000          1
385  15775335    Male   56            60000          1
386  15724150  Female   49            39000          1
387  15627220    Male   39            71000          0
388  15672330    Male   47            34000          1
389  15668521  Female   48            35000          1
390  15807837    Male   48            33000          1
391  15592570    Male   47            23000          1
392  15748589  Female   45            45000          1
393  15635893    Male   60            42000          1
394  15757632  Female   39            59000          0
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [47]:
df.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [0]:
filterdata=df.iloc[0:,2:].values

In [49]:
filterdata

array([[   19, 19000,     0],
       [   35, 20000,     0],
       [   26, 43000,     0],
       ...,
       [   50, 20000,     1],
       [   36, 33000,     0],
       [   49, 36000,     1]])

In [0]:
features=filterdata[0:,0:2]

In [0]:
label=filterdata[0:,2]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X,Y,x,y=train_test_split(features,label,test_size=0.2)

In [0]:
from sklearn.preprocessing import StandardScaler

In [0]:
sc=StandardScaler()

In [0]:
X=sc.fit_transform(X)

In [57]:
X

array([[ 1.89575653, -1.04187301],
       [-0.24992289, -1.35575464],
       [-1.81041701, -1.44135872],
       [ 1.11550947,  0.12804944],
       [-0.24992289, -1.41282403],
       [-1.81041701,  0.01391066],
       [-1.51782436,  0.32779229],
       [ 1.40810212,  2.29668617],
       [-1.3227626 , -1.44135872],
       [-0.24992289,  0.07098005],
       [ 2.18834918,  0.92702086],
       [-0.64004642,  0.04244536],
       [ 2.0908183 , -0.78506076],
       [-0.05486112,  0.2992576 ],
       [ 0.9204477 ,  2.125478  ],
       [-0.152392  ,  1.58331882],
       [ 0.53032417,  1.81159637],
       [ 0.33526241,  0.07098005],
       [-0.93263906,  0.44193107],
       [-0.24992289, -0.27143627],
       [-1.42029348, -0.6138526 ],
       [ 0.14020064,  1.04115964],
       [-0.64004642, -1.55549749],
       [-0.24992289,  0.52753515],
       [ 0.43279329, -0.12876281],
       [ 0.9204477 ,  1.01262495],
       [ 1.60316388, -1.24161586],
       [-1.81041701, -1.27015056],
       [-0.24992289,  0.15658413],
       [ 0.23773153,  0.15658413],
       [ 0.43279329,  0.98409025],
       [ 1.01797859,  1.41211066],
       [-0.44498465,  2.26815147],
       [-0.24992289,  0.21365352],
       [-1.61535524, -1.5269628 ],
       [-0.54251553,  1.35504127],
       [ 0.14020064,  0.21365352],
       [ 1.11550947, -1.18454648],
       [ 0.33526241,  0.49900046],
       [ 2.0908183 ,  2.09694331],
       [-0.83510818, -1.18454648],
       [-0.7375773 ,  1.32650658],
       [-0.24992289,  0.07098005],
       [ 0.82291682, -0.29997097],
       [ 0.72538594, -1.0704077 ],
       [ 0.04266976, -0.29997097],
       [-0.54251553,  1.86866576],
       [-1.12770083,  0.47046576],
       [-0.24992289, -0.87066484],
       [-0.83510818,  2.23961678],
       [ 0.9204477 , -0.55678321],
       [-0.24992289, -0.89919954],
       [ 0.14020064, -0.24290158],
       [ 0.9204477 ,  1.2409025 ],
       [-0.24992289,  0.27072291],
       [ 0.9204477 , -1.01333831],
       [ 0.33526241,  0.07098005],
       [-1.42029348,  0.35632699],
       [-1.03016995,  0.52753515],
       [ 0.23773153, -0.27143627],
       [ 1.11550947,  2.03987392],
       [-1.71288613,  0.35632699],
       [ 1.89575653,  1.49771474],
       [-0.7375773 ,  0.27072291],
       [ 0.04266976, -0.55678321],
       [ 1.21304035, -0.72799138],
       [-1.12770083,  0.32779229],
       [-1.03016995, -0.35704036],
       [ 0.9204477 ,  1.06969433],
       [-1.51782436, -0.41410974],
       [-0.152392  , -0.18583219],
       [-1.71288613, -1.32721994],
       [-1.90794789, -0.49971382],
       [-1.81041701, -1.38428933],
       [ 2.18834918, -0.78506076],
       [ 0.33526241,  0.04244536],
       [ 1.79822565,  0.98409025],
       [ 1.505633  ,  2.09694331],
       [-1.81041701,  0.18511883],
       [ 1.31057124, -1.32721994],
       [-0.152392  ,  1.61185351],
       [-0.24992289, -1.27015056],
       [-1.12770083,  0.2992576 ],
       [-1.42029348, -0.18583219],
       [ 0.33526241, -0.69945668],
       [ 1.40810212,  0.58460454],
       [-1.22523171,  0.58460454],
       [-0.44498465, -1.18454648],
       [ 1.60316388,  0.98409025],
       [ 2.0908183 , -1.15601178],
       [ 0.04266976, -0.41410974],
       [ 0.23773153, -0.64238729],
       [ 0.53032417,  1.6974576 ],
       [ 1.21304035, -1.41282403],
       [ 0.04266976,  0.04244536],
       [ 0.23773153,  0.15658413],
       [ 0.9204477 , -0.58531791],
       [-0.05486112,  0.27072291],
       [-1.03016995,  0.41339638],
       [ 1.89575653, -0.27143627],
       [-0.152392  , -0.44264444],
       [ 0.43279329,  1.09822903],
       [ 1.01797859, -1.04187301],
       [ 0.23773153,  1.06969433],
       [ 1.505633  ,  0.98409025],
       [-0.152392  , -1.04187301],
       [-0.93263906, -0.29997097],
       [-0.24992289, -0.72799138],
       [-0.83510818,  0.2992576 ],
       [-1.12770083, -1.5269628 ],
       [ 0.33526241, -0.49971382],
       [-0.54251553, -1.46989341],
       [ 0.82291682,  0.35632699],
       [-1.51782436, -1.21308117],
       [-0.7375773 , -1.55549749],
       [-0.24992289,  0.15658413],
       [-1.51782436, -1.46989341],
       [ 0.82291682, -1.0704077 ],
       [ 1.40810212,  1.95426984],
       [ 1.01797859,  1.95426984],
       [-0.93263906,  0.41339638],
       [-0.54251553,  0.47046576],
       [ 0.23773153, -0.35704036],
       [-1.90794789,  0.35632699],
       [-0.44498465, -0.52824852],
       [ 0.33526241, -0.27143627],
       [-1.03016995, -1.09894239],
       [-0.64004642,  0.18511883],
       [-1.22523171,  0.49900046],
       [-0.05486112,  2.18254739],
       [-1.03016995, -1.41282403],
       [-0.44498465, -0.75652607],
       [ 0.72538594,  0.27072291],
       [ 1.11550947, -0.87066484],
       [-0.64004642,  1.38357596],
       [ 0.9204477 , -0.75652607],
       [-0.64004642, -1.46989341],
       [-0.54251553,  1.44064535],
       [ 0.14020064,  0.04244536],
       [-0.05486112,  0.07098005],
       [ 0.33526241, -0.29997097],
       [-1.22523171, -1.04187301],
       [-0.7375773 , -1.49842811],
       [-1.03016995,  1.92573515],
       [-0.54251553,  0.86995148],
       [-0.34745377, -1.27015056],
       [ 0.62785506,  1.98280453],
       [ 2.0908183 ,  0.38486168],
       [-0.24992289, -0.12876281],
       [-0.7375773 , -0.58531791],
       [ 0.14020064,  0.04244536],
       [-1.12770083, -0.98480362],
       [-0.152392  , -0.27143627],
       [-0.152392  ,  1.38357596],
       [ 1.60316388,  0.01391066],
       [-1.03016995,  0.55606985],
       [ 1.11550947,  0.52753515],
       [ 0.72538594,  1.75452698],
       [-0.24992289,  0.09951474],
       [ 0.33526241,  0.07098005],
       [-1.71288613, -0.95626893],
       [ 0.43279329,  2.26815147],
       [ 1.79822565, -0.27143627],
       [-0.24992289, -0.64238729],
       [ 0.9204477 , -1.32721994],
       [ 0.04266976, -0.52824852],
       [-1.12770083, -0.75652607],
       [-1.12770083,  0.41339638],
       [-0.93263906,  0.49900046],
       [-1.12770083, -1.49842811],
       [-0.93263906,  1.52624943],
       [-0.54251553, -1.46989341],
       [-1.03016995,  0.58460454],
       [-0.05486112,  0.04244536],
       [-0.24992289, -0.41410974],
       [-1.3227626 ,  0.55606985],
       [ 1.31057124,  1.84013107],
       [-0.64004642, -0.04315872],
       [-0.93263906, -0.41410974],
       [-0.34745377, -0.75652607],
       [ 1.70069477,  1.72599229],
       [-0.64004642, -0.10022811],
       [ 0.14020064, -0.78506076],
       [ 0.43279329, -0.12876281],
       [-0.24992289, -0.29997097],
       [-1.42029348, -0.10022811],
       [-0.05486112, -0.49971382],
       [ 0.72538594, -1.35575464],
       [-0.34745377,  1.2123678 ],
       [ 0.14020064, -0.78506076],
       [ 1.11550947, -0.95626893],
       [-1.22523171, -1.35575464],
       [ 0.04266976, -0.24290158],
       [-1.12770083,  0.07098005],
       [ 0.04266976,  1.2409025 ],
       [ 1.40810212, -1.38428933],
       [ 0.23773153,  0.04244536],
       [-1.12770083, -1.55549749],
       [ 1.70069477,  1.58331882],
       [-0.24992289, -0.55678321],
       [-0.64004642,  0.55606985],
       [ 0.43279329,  0.2992576 ],
       [-0.7375773 ,  1.86866576],
       [-0.05486112,  1.92573515],
       [ 2.18834918, -0.78506076],
       [ 0.62785506, -0.87066484],
       [ 0.72538594, -1.35575464],
       [ 0.43279329,  0.2992576 ],
       [ 0.43279329,  0.58460454],
       [-1.61535524,  0.52753515],
       [-0.64004642,  0.12804944],
       [-0.24992289, -0.47117913],
       [-0.152392  , -0.55678321],
       [-0.44498465, -0.27143627],
       [ 0.14020064, -0.29997097],
       [-0.24992289, -0.32850566],
       [-0.05486112,  0.21365352],
       [ 0.82291682, -1.35575464],
       [-0.24992289, -0.24290158],
       [ 0.9204477 , -1.41282403],
       [ 1.01797859,  0.58460454],
       [ 0.82291682, -1.32721994],
       [ 1.99328741,  0.72727801],
       [-1.81041701,  0.44193107],
       [-0.152392  ,  0.84141678],
       [-0.24992289,  0.61313923],
       [ 0.14020064,  1.84013107],
       [-1.12770083,  1.38357596],
       [ 0.82291682,  0.27072291],
       [ 0.82291682,  0.7558127 ],
       [ 1.01797859, -1.15601178],
       [-0.93263906,  0.55606985],
       [-1.12770083, -0.49971382],
       [ 0.33526241, -0.49971382],
       [ 0.14020064,  1.49771474],
       [ 1.99328741,  2.125478  ],
       [ 0.23773153,  0.07098005],
       [-0.54251553,  1.35504127],
       [ 0.14020064,  0.7558127 ],
       [-0.05486112,  2.125478  ],
       [-0.24992289, -0.35704036],
       [-0.24992289,  0.7843474 ],
       [-1.90794789,  0.47046576],
       [-1.3227626 , -0.41410974],
       [-0.64004642, -0.32850566],
       [ 0.9204477 , -1.12747709],
       [-0.7375773 ,  0.55606985],
       [ 2.18834918,  1.09822903],
       [ 1.89575653,  0.12804944],
       [ 0.43279329,  0.01391066],
       [-1.03016995, -1.49842811],
       [-0.24992289, -1.32721994],
       [ 0.43279329,  0.15658413],
       [ 0.33526241,  0.2992576 ],
       [-0.05486112,  0.12804944],
       [ 1.01797859, -1.12747709],
       [ 0.33526241, -0.52824852],
       [-0.44498465,  1.2409025 ],
       [-1.90794789, -0.72799138],
       [-1.71288613,  0.47046576],
       [ 0.14020064,  0.15658413],
       [ 0.23773153,  2.06840862],
       [-1.71288613,  0.35632699],
       [ 0.72538594, -1.24161586],
       [-1.3227626 , -1.21308117],
       [ 0.23773153, -0.35704036],
       [-1.3227626 , -1.0704077 ],
       [ 2.0908183 ,  1.72599229],
       [ 0.43279329,  0.09951474],
       [ 1.505633  , -1.01333831],
       [ 0.9204477 , -1.27015056],
       [-0.64004642, -1.01333831],
       [ 1.01797859,  2.03987392],
       [ 0.23773153, -0.24290158],
       [ 0.04266976,  0.2992576 ],
       [ 0.9204477 , -0.52824852],
       [-0.54251553,  2.29668617],
       [ 1.99328741, -1.32721994],
       [ 0.04266976, -0.24290158],
       [ 1.40810212, -0.89919954],
       [ 1.70069477, -0.87066484],
       [ 1.11550947, -0.12876281],
       [ 0.33526241, -0.18583219],
       [-0.83510818,  0.38486168],
       [ 0.43279329,  0.27072291],
       [ 1.89575653, -1.24161586],
       [-0.05486112, -0.41410974],
       [ 1.60316388,  1.09822903],
       [-1.3227626 , -0.32850566],
       [-1.12770083, -1.12747709],
       [-0.93263906,  0.27072291],
       [ 1.01797859,  0.12804944],
       [-0.24992289,  0.04244536],
       [-0.44498465, -0.01462403],
       [-1.61535524,  0.07098005],
       [-0.05486112, -0.21436689],
       [-0.34745377, -0.75652607],
       [ 1.11550947, -1.18454648],
       [-1.42029348, -1.18454648],
       [-0.05486112, -1.04187301],
       [-0.05486112, -0.35704036],
       [-1.81041701, -1.24161586],
       [ 0.82291682,  0.52753515],
       [ 1.99328741, -0.64238729],
       [ 0.04266976,  1.2123678 ],
       [ 0.33526241, -1.12747709],
       [-0.83510818, -0.24290158],
       [ 1.01797859, -0.81359546],
       [ 0.43279329, -0.44264444],
       [ 0.14020064,  1.84013107],
       [ 0.82291682, -1.18454648],
       [-0.93263906, -0.92773423],
       [-0.05486112, -0.47117913],
       [-0.24992289,  1.09822903],
       [ 0.82291682,  0.12804944],
       [-1.12770083, -1.0704077 ],
       [-0.7375773 ,  1.06969433],
       [ 0.14020064,  0.09951474],
       [ 0.04266976,  0.04244536],
       [ 0.43279329, -0.44264444]])

In [0]:
Y=sc.transform(Y)

In [62]:
Y

array([[-3.53568261, -1.98345562],
       [-3.73544034, -1.98350366],
       [-3.84958762, -1.98351913],
       [-3.58324397, -1.98354112],
       [-3.78300171, -1.98351018],
       [-3.76397716, -1.98352728],
       [-3.76397716, -1.98353053],
       [-3.68787898, -1.98355252],
       [-3.83056307, -1.98351425],
       [-3.76397716, -1.98349633],
       [-3.6783667 , -1.98351343],
       [-3.51665806, -1.98351588],
       [-3.64031761, -1.98352646],
       [-3.74495262, -1.98353623],
       [-3.55470715, -1.98350448],
       [-3.56421943, -1.98346784],
       [-3.45007215, -1.98353705],
       [-3.6783667 , -1.98345725],
       [-3.64031761, -1.98351099],
       [-3.64031761, -1.98352809],
       [-3.69739125, -1.98348086],
       [-3.79251398, -1.98355577],
       [-3.74495262, -1.98351343],
       [-3.65934216, -1.98352158],
       [-3.4690967 , -1.98354356],
       [-3.52617034, -1.98348168],
       [-3.79251398, -1.98350611],
       [-3.75446489, -1.98353867],
       [-3.51665806, -1.98350773],
       [-3.64982989, -1.98351018],
       [-3.59275625, -1.98353786],
       [-3.75446489, -1.98354845],
       [-3.75446489, -1.98352646],
       [-3.45007215, -1.98350692],
       [-3.70690352, -1.98354926],
       [-3.66885443, -1.98349878],
       [-3.5737317 , -1.98353623],
       [-3.65934216, -1.98353379],
       [-3.77348944, -1.98356229],
       [-3.62129307, -1.98352239],
       [-3.74495262, -1.98353949],
       [-3.45958442, -1.98350285],
       [-3.56421943, -1.98354763],
       [-3.66885443, -1.9835175 ],
       [-3.66885443, -1.98351099],
       [-3.62129307, -1.98353135],
       [-3.45958442, -1.98351262],
       [-3.66885443, -1.98351343],
       [-3.73544034, -1.98352402],
       [-3.73544034, -1.98350936],
       [-3.83056307, -1.9835346 ],
       [-3.68787898, -1.98353379],
       [-3.80202625, -1.98355822],
       [-3.45007215, -1.98354682],
       [-3.74495262, -1.98350692],
       [-3.61178079, -1.98348331],
       [-3.78300171, -1.98350936],
       [-3.54519488, -1.98354519],
       [-3.76397716, -1.98352728],
       [-3.81153853, -1.9835232 ],
       [-3.56421943, -1.98346539],
       [-3.70690352, -1.98354112],
       [-3.58324397, -1.98347924],
       [-3.63080534, -1.98351588],
       [-3.64031761, -1.98352158],
       [-3.69739125, -1.98351588],
       [-3.77348944, -1.98350936],
       [-3.48812124, -1.98346621],
       [-3.68787898, -1.98345481],
       [-3.56421943, -1.98349633],
       [-3.63080534, -1.98351018],
       [-3.54519488, -1.98350285],
       [-3.4690967 , -1.98349226],
       [-3.8210508 , -1.98351913],
       [-3.6783667 , -1.98353216],
       [-3.56421943, -1.983546  ],
       [-3.66885443, -1.98350936],
       [-3.55470715, -1.98350203],
       [-3.74495262, -1.98353949],
       [-3.79251398, -1.98352972]])

In [0]:
from sklearn.ensemble import RandomForestClassifier

In [0]:
Rclf=RandomForestClassifier(n_estimators=20)

In [0]:
trained=Rclf.fit(X,x)

In [0]:
output=trained.predict(Y)

In [0]:
from sklearn.metrics import accuracy_score

In [70]:
accuracy_score(y,output)

0.625